<?xml version="1.0"?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="common_properties.xacro" />
    <xacro:include filename="mobile_base.xacro" />

</robot>

<!--
 ros2 launch urdf_tutorial display.launch.py \
  model:=/home/yash-verma/ros2_ws/src/my_robot_description/urdf/my_robot.urdf.xacro
 -->